<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- database connection properties -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/vliegveldjava?createDatabaseIfNotExist=true&amp;serverTimezone=Europe/Amsterdam</property>
        <property name="hibernate.connection.username">hibernate</property>
        <property name="hibernate.connection.password">hibernate</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57InnoDBDialect</property>
        <!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
        
          

        <!-- show mysql queries output in console -->
        <property name="hibernate.show_sql">true</property>

        <!-- manage automatic database creation -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- add annotated resources here -->
        <mapping class="main.TestEntity"/>
        <mapping class="main.Piloot" />
        <mapping class="main.Hangaar" />
        <mapping class="main.Vliegtuig" />
        <mapping class="main.Onderhoudsbeurt" />
        <mapping class="main.Employee" />
        
		
    </session-factory>
</hibernate-configuration>